$primary-color: rgb(40, 40, 43);
$secondary-color: rgb(255, 255, 255);

html {
  font-family: Raleway, GillSans, sans-serif;
}
.section {
  overflow: hidden;
  display: block;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 75%;
}

nav {
  .brand-logo img {
    height: 64px;
    padding: 0px;
    width: auto;
  }
}

.card-content {
  a {
    border: 1px solid black;
    width: 40%;
    margin: 10px;
  }
}

.card-image {
  height: 250px;
  overflow: hidden;
}

.card-action {
  overflow: hidden;
  a {
    font-weight: 400;
    width: 100%;

    // margin: 5px;
    // display: block;
  }
  button {
    width: 100%;
    margin: 5px 0;
  }
}
