<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>ZUXD</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper white">
            <div class="container ">
                <a href="/" class="brand-logo"><img src="/img/ZUXD-Logo---Final-Green-Compressed.png" alt="cat"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="black-text" href="/">Home </a> </li>
                    <li><a class="black-text" href="/process">Our Process</a></li>
                    <li><a class="black-text" href="/portfolio">Portfolio</a></li>
                    <li><a class="btn" href="">Hire Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>