<div class="section">
    <h3>Add New Project</h3>
</div>
<div class="divider"></div>
<div class="section">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <form method="POST" action="/portfolio/add" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="title" placeholder="Title" id="title" type="text" class="validate" required>
                            <label for="title">Project Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="description" placeholder="Description" id="description" type="text"
                                class="validate" required>
                            <label for="description">Description</label>
                        </div>
                    </div>
                    {{!-- Insert TEXTAREA VERSION for description --}}
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="livelink" placeholder="Live Link" id="live-link" type="text" class="validate">
                            <label for="live-link">Live Link</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="designlink" placeholder="Design Link" id="design-link" type="text"
                                class="validate">
                            <label for="design-link">Design Link</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Browse</span>
                                <input class="file-path validate" type="file" name="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload an image file">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn-flat grey lighten-4" href="/portfolio">Cancel</a>
                        <input class="btn green" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{{!-- <form method="POST" action="/portfolio/add" enctype="multipart/form-data">
            <div class="form-group">
                <label>Title</label>
                <input name="title" type="text" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input name="description" type="text" required>
            </div>
            <div class="form-group">
                <label>Live Link</label>
                <input name="livelink" type="text">
            </div>
            <div class="form-group">
                <label>Design Link</label>
                <input name="designlink" type="text">
            </div>
            <div class="form-group">
                <label for="file">Image Upload</label>
                <input name="file" type="file" id="file" required>
            </div>
            <br>
            <div>
                <a class="btn-flat grey lighten-4" href="/portfolio">Cancel</a>
                <input class="btn green" type="submit" value="Submit">
            </div>
        </form> --}}